// Import all of Bootstrap's CSS
@import "bootstrap/scss/bootstrap";

#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
}

.center {
  position: fixed;
  top: 50%;
  left: 50%;
  /* bring your own prefixes */
  transform: translate(-50%, -50%);
}

.dotted-input {
  border-top: none;
  border-left: none;
  border-right: none;
  border-bottom: 1px dotted #ccc;;
}

.dotted-input:focus-visible {
  border: none;
}

.read-the-docs {
  color: #888;
}